<input [(ngModel)]="email" type="email" placeholder="Correo"> 
<input [(ngModel)]="password" type="password" placeholder="Contraseña"> 
<button (click)="login()">Enviar</button>

<input [(ngModel)]="name" type="text" placeholder="Nombre"> 
<input [(ngModel)]="email" type="email" placeholder="Correo"> 
<input [(ngModel)]="password" type="password" placeholder="Contraseña"> 
<input [(ngModel)]="passwordRp" type="password" placeholder="Repetir Contraseña"> 
<button (click)="register()">Enviar</button>

<div>
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
            <img src="assets/img/logo_live_online.png" alt="">
            </div>
        </div>
    </div>
</div>