<div class="content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <nav class="nav bar-nav">
                  <a class="nav-link" href="#"> <img src="assets/img/logo_live_big_clean.png" class="img-fluid logo-bar" alt=""> MSN Alive!</a>
                  <a class="nav-link" href="#">Configuración</a>
                  <a class="nav-link" href="#">Acerca De</a>
                  <a class="nav-link" (click)="logOut()" href="">LogOut</a>
                </nav>
          </div>
        </div>
    <div class="row  mh-100" >
      <div class="col-1"></div>
      <div class="col-3">
          <img src="assets/img/logo_live_online.png" alt="" class="img-fluid logo-login mx-auto">
          <form>
              <div class="form-group">
                <label for="exampleFormControlFile1">Example file input</label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
              </div>
            </form>
      </div>
      <div class="col-7 center" >
        <input class="form-control" type="text" placeholder="Nombre"><br>
        <input class="form-control" type="text" placeholder="Nick"><br>
        <input class="form-control" type="text" placeholder="SubNick"><br>
        <select class="form-control">
          <option disabled>Estatus </option>
          <option>Online</option>
           <option>Offline</option>
        </select><br>
         <button class="w-100">Guardar</button>
      </div>
      
    </div>
  </div>
</div>